body {
    background-color: #e0ebd1;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .calculator {
    background: aqua;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
    width: 260px;
    text-align: center;
  }
  
  .calculator h2 {
    margin-bottom: 15px;
    color: #000000;
  }
  
  #display {
    width: 95%;
    height:60px;
    font-size: 1.5rem;
    text-align: right;
    padding: 10px;
    margin-bottom: 20px;
    border: none;
    background: rgb(166, 219, 155);
    border-radius: 5px;
  }
  
  .buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
  }
  
  button {
    padding: 15px;
    font-size: 1.2rem;
    border: none;
    border-radius: 8px;
    background-color: #000000;
    color: rgb(9, 188, 92);
    cursor: pointer;
    transition: background 0.3s ease;
  }
  
  button:hover {
    background-color: #000000;
  }
  